@import "../../app/styles/variables";
$color-primary: blueviolet;
$color1-primary: seagreen;

.header {
  ul {
    display: flex;
    gap: 10px;

    li {
      font-size: 7rem;
      font-weight: 900;

      a.on {
        color: $color-primary;
      }

      a.active {
        color: $color1-primary;
      }
    }
  }
}
