@import "../../app/styles/variables";
$color-primary: blueviolet;
$color1-primary: seagreen;

.header {
  margin-bottom: 2rem;
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    li {
      font-size: 7rem;
      font-weight: 900;
      word-wrap: normal;
      white-space: nowrap;

      a.on {
        color: $color-primary;
      }

      a.active {
        color: $color1-primary;
      }
    }
  }
}
