@import "../../app/styles/variables";
$color-primary: blueviolet;

.header {
  ul {
    li {
      font-size: 1rem;
      font-weight: 900;

      a.on {
        color: $color-primary;
      }

      a.active {
        color: red;
      }
    }
  }
}
