* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

body {
  background-color: rgba(218, 112, 214, 0.472);

  .btn {
    padding: 10px;
    margin: 20px;
    background-color: seagreen;
    color: #fff;
    font-weight: 800;
    border: 0;
  }
}
