@import "./styles/_variables.scss";
// $color-primary: blueviolet;

.main {
  .h1 {
    font-size: 8rem;
    color: $color-primary;
  }
}

.pic {
  width: 100%;
  height: 60vh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
